In [1]:
#pip install snscrape

Collecting snscrape
  Downloading snscrape-0.5.0.20230113-py3-none-any.whl (69 kB)
     -------------------------------------- 69.2/69.2 kB 377.7 kB/s eta 0:00:00
Requirement already satisfied: lxml in d:\anaconda\lib\site-packages (from snscrape) (4.9.1)
Requirement already satisfied: requests[socks] in d:\anaconda\lib\site-packages (from snscrape) (2.28.1)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from snscrape) (4.11.1)
Requirement already satisfied: filelock in d:\anaconda\lib\site-packages (from snscrape) (3.6.0)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->snscrape) (2.3.1)
Requirement already satisfied: charset-normalizer<3,>=2 in d:\anaconda\lib\site-packages (from requests[socks]->snscrape) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests[socks]->snscrape) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests[socks]->snscrape) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda\lib\site-packages (from requests[socks]->snscrape) (3.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in d:\anaconda\lib\site-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.5.0.20230113

In [2]:
import snscrape.modules.twitter as sntwitter

In [3]:
import pandas as pd

In [4]:
import itertools

In [5]:
df=pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper('vaccine since:2020-11-13').get_items(),100))

In [7]:
df.head()

,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,quoteCount,...,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,card,viewCount,vibe
0,https://twitter.com/Storiesofinjury/status/162...,2023-02-25 18:00:12+00:00,@6e99773de5dc4fa I said it back in 2021: some ...,@6e99773de5dc4fa I said it back in 2021: some ...,1629541788481454087,"{'username': 'Storiesofinjury', 'id': 14560815...",0,0,0,0,...,1.629541e+18,"{'username': '6e99773de5dc4fa', 'id': 30476664...","[{'username': '6e99773de5dc4fa', 'id': 3047666...",None,None,None,None,None,NaN,None
1,https://twitter.com/normanwlucas/status/162954...,2023-02-25 18:00:10+00:00,"Norfolk: $10 billion on stock buybacks, mushro...","Norfolk: $10 billion on stock buybacks, mushro...",1629541779509768192,"{'username': 'normanwlucas', 'id': 115983695, ...",0,0,0,0,...,NaN,None,None,None,None,None,None,None,NaN,None
2,https://twitter.com/lace_anne/status/162954177...,2023-02-25 18:00:09+00:00,@Intrepid87 @RobertKennedyJr By the time the v...,@Intrepid87 @RobertKennedyJr By the time the v...,1629541777924407297,"{'username': 'lace_anne', 'id': 10243985719389...",0,0,0,0,...,1.629539e+18,"{'username': 'Intrepid87', 'id': 43387946, 'di...","[{'username': 'Intrepid87', 'id': 43387946, 'd...",None,None,None,None,None,NaN,None
3,https://twitter.com/Ezekiel_20_25/status/16295...,2023-02-25 18:00:06+00:00,"@nowlege1 If that was all I was upset about, w...","@nowlege1 If that was all I was upset about, w...",1629541764364156929,"{'username': 'Ezekiel_20_25', 'id': 1607925640...",0,0,0,0,...,1.629512e+18,"{'username': 'nowlege1', 'id': 105640896957143...","[{'username': 'nowlege1', 'id': 10564089695714...",None,None,None,None,None,NaN,None
4,https://twitter.com/teebo2811/status/162954176...,2023-02-25 18:00:06+00:00,@LummHandy @DLFParis16 @teamplayer82 @Vigilant...,@LummHandy @DLFParis16 @teamplayer82 @Vigilant...,1629541761440677889,"{'username': 'teebo2811', 'id': 410795859, 'di...",0,0,0,0,...,1.629541e+18,"{'username': 'LummHandy', 'id': 15454750903133...","[{'username': 'LummHandy', 'id': 1545475090313...",None,None,None,None,None,NaN,None

In [9]:
df.shape

(100, 29)

In [21]:
df=pd.DataFrame(itertools.islice(sntwitter.TwitterSearchScraper('TOGG geocode:Istanbul').get_items(),100))

In [22]:
df.head(5)

Empty DataFrame
Columns: []
Index: []