In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("youtube.csv")

In [3]:
df.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [4]:
df=df[["CONTENT","CLASS"]]

In [5]:
df.head()

                                             CONTENT  CLASS
0  Huh, anyway check out this you[tube] channel: ...      1
1  Hey guys check out my new channel and our firs...      1
2             just for test I have to say murdev.com      1
3   me shaking my sexy ass on my channel enjoy ^_^ ﻿      1
4            watch?v=vtaRGgvGtWQ   Check this out .﻿      1

In [6]:
x=df["CONTENT"]
y=df["CLASS"]

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [10]:
vect=CountVectorizer()

In [12]:
x=vect.fit_transform(x)

In [13]:
x_train, x_test, y_train, y_test= train_test_split(x,y,random_state=42,test_size=0.20)

In [14]:
b=BernoulliNB()

In [15]:
model=b.fit(x_train,y_train)

In [16]:
tahmin=model.predict(x_test)

In [17]:
accuracy_score(tahmin,y_test)

0.9857142857142858

In [23]:
import pickle

In [24]:
pickle.dump(model, open('classification.pkl','wb'))

In [25]:
yorum="check this out my video https://www.cemalsezer.com"

In [26]:
yorum=vect.fit_transform([yorum])

model.predict(yorum)